@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'GmarketSansMedium';
}

body{
    width: 1000px;
    margin: auto;
}

.menuBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logo{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 5px;
    margin-right: -70px;
}

.topMenu{
  left: 150px;
  top: 1px;
  margin: 26px 0px 26px 40px;
  height: 30px;
  width: 1000px;
}

.line{
  color: rgb(63, 60, 60);
}

#login_line{
  color: rgb(117, 115, 115);
}

.topMenu ul li{
  list-style: none;
  display: inline-block;
  background-color: rgb(255, 254, 254);
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

.topMenu .menuLink{
  text-decoration:none;
  color: rgb(63, 60, 60);
  width: 150px;
  display: inline-block;/*선택할 때 글씨뿐만 아니라*/
  font-size: 17px;
}

.topMenu .menuLink:hover{
  color: rgb(71, 33, 33);
  background-color: #E7D1C4;
}

a:visited {
  text-decoration: none;
  color: rgb(117, 115, 115);
}

.login{
  text-decoration: none;
  color: rgb(117, 115, 115);
  margin: -55px -20px 0px 15px;
  margin-left: 718px;
  font-size: 16px;
}

.login1{
  margin-right: 19px;
  text-decoration: none;
}

.login2{
  margin-left: 19px;
  text-decoration: none;
}

.menuBar_line{
  border: 0;
  background-color: #b7d1a6;
  height: 3px;
}
/*----------------여기까지 위에 메뉴바 css------------------*/

#map_and_img{
  margin-top: 40px;
  text-align: center;
}

#map_img{
  width: 390px;
  height: 300px;
}

#room_img{
  width: 450px;
  height: 300px;
}

.table4{
  width: 85%;
  border-collapse: collapse;
  border-top: 3px solid #B7D1A6;
  border-bottom: 3px solid #B7D1A6;
  font-size: 17px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.table4 th{
  width: 15%;
  background-color: #E2DFDF;
  border-bottom: 2px solid #c8c8c8;
  padding: 15px 0px 11px 0px;
}

.table4 td{
  border-bottom: 2px solid #c8c8c8;
  padding: 15px 10px;
}

.table4 input:not(:first-child){
  margin-left: 15px;
}/*table3 내의 input 요소들에서 각 첫번째 input요소들 빼고 마진값 설정*/

#NoIndent{/*옵션에서 '인터넷'이 삐뚤어져서 수정*/
  margin-left: 4px;
}

#etc{
  line-height: 40px;
}
