@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'GmarketSansMedium';
}

.wrapper{
    width:500px;
    height:430px;
    border:3px solid #C69674;
    box-sizing: border-box;
    border-radius: 20px;
    margin:130px auto;
}

#logo{
    width:18%;
    margin:40px auto;
    display:block;
}

.login_div{
    text-align: center;
    margin-top:3px;
    margin-bottom:30px;
}

.button_div{
    margin-bottom:15px;
    text-align:center;
}

#login_table{
    margin: 10px auto;

}

.login_input{
    padding:10px;
    width:228px;
    height:16px;
    border:2px solid #C69674;
    border-radius: 10px;
}

.login_input:focus{
    border:2px solid #B7D1A6;
    outline:none;
}

#login_button{
    background-color:#C69674;
    border-radius: 30px;
    border:none;
    color:white;
    cursor:pointer;
    padding:10px 25px;
    width: 110px;
    margin-right:10px;
    font-family: 'GmarketSansMedium';
}

#login_button:focus{
    outline:none;
    background-color: #B7D1A6;
}

#signup_button{
    background-color:#C69674;
    border-radius: 30px;
    border:none;
    color:white;
    cursor:pointer;
    padding:10px 25px;
    width: 110px;
    margin-left:10px;
    font-family: 'GmarketSansMedium';
}

#signup_button:focus{
    outline:none;
    background-color: #B7D1A6;
}