@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  src:url("../image/배달의민족주아체.ttf");
  font-family:"jua"
}

html {
    font-family: 'GmarketSansMedium';
}

.body{
    /*width: 넣어야 하나?*/
      padding-top: 80px;
      margin: auto;
  }

  .menuBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    padding: 2px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #b7d1a6;
    margin-left: auto;
    margin-right: auto;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
}

#logo{
    width: 100px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    margin-left: 10%;
}

.topMenu{
  margin-top: 10px;
  margin-left: -30px;
  height: 60px;
  width: 90%;
}

#login_line{
  color: rgb(117, 115, 115);
}

.topMenu ul li{
  list-style: none;
  display: inline-block;
  background-color: rgb(255, 254, 254);
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

.topMenu .menuLink{
  text-decoration:none;
  color: rgb(63, 60, 60);
  width: 150px;
  display: inline-block;/*선택할 때 글씨뿐만 아니라*/
  font-size: 17px;
}

.topMenu .menuLink:hover{
  color: rgb(71, 33, 33);
}

a:visited {
  text-decoration: none;
  color: rgb(117, 115, 115);
}

.login{
  text-decoration: none;
  color: rgb(117, 115, 115);
  justify-content: space-between;
  align-items: center;
  margin: -55px -15px 0px 900px;
  font-size: 16px;
}

.login1{
  margin-right: 19px;
  text-decoration: none;
}

.login2{
  margin-left: 19px;
  text-decoration: none;
}

/*----------------여기까지 위에 메뉴바 css------------------*/

#main_scroll_1{
    background-image: url(../image/main_img/main_scroll_1.png); 
    background-repeat:no-repeat; 
    background-size:1670px 780px;
    background-color: #fab236;
    margin-bottom: 0px;
    height:700px;
    width:100%;
    position: relative;
}

#hashtag{
  position: absolute;
  width:600px;
  height:100px;
  top:80px;
  left:95px;
}

#BBB{
  position: absolute;
  width:650px;
  height:450px;
  top:165px;
  left:70px;

}

#Best{
  position: absolute;
  width:500px;
  height:100px;
  top:510px;
  left:130px;
}

#chat1{
  width:230px;
  height:60px;
  position: absolute;
  left:1280px;
  top:50px;
}

#chat2{
  position:absolute;
  width:120px;
  height:45px;
  top:140px;
  left:1020px;
}

#chat3{
  position:absolute;
  top:170px;
  left:989px;
  width: 330px;
  height:370px;
}

#chat4{
  position:absolute;
  top:535px;
  left:995px;
  width:500px;
  height:100px;
}

#main_scroll_2{
  margin-bottom: 0px;
  height:1300px;
  width:100%;
  background-color:#fab236;
  position: relative;
}

#man1{
  width:270px;
  height:270px;
  position: absolute;
  top:170px;
  left:150px;
}

#man2{
  width:270px;
  height:270px;
  position: absolute;
  top:170px;
  left:625px;
}

#man3{
  width:270px;
  height:270px;
  position: absolute;
  left:1100px;
  top:170px;
}

#help{
  width:450px;
  height:450px;
  position: absolute;
  top:750px;
  left:520px;
}


a span {
  position: absolute;
  top: 600px;
  left: 49%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 8px solid rgb(255, 217, 195);
  border-bottom: 8px solid rgb(255, 217, 195);
  border-radius: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

#span2{
  position: absolute;
  top:625px;
  border-left:8px solid rgb(255, 193, 157);
  border-bottom: 8px solid rgb(255, 193, 157);
  border-radius: 5px;
}

#span3{
  position: absolute;
  top:650px;
  border-left: 8px solid rgb(255, 156, 98);
  border-bottom: 8px solid rgb(255, 156, 98);
  border-radius: 5px;
}

a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#main_scroll_3{
  background-repeat:no-repeat; 
  background-size:1670px 780px;
  background-color: #ffdb83;
  margin-bottom: 0px;
  height:1500px;
  width:100%;
  position: relative;
}

#reviewer{
  width:300px;
  height:100px;
  position: absolute;
  left:100px;
  top:150px;
}

#one{
  width:320px;
  height:320px;
  position: absolute;
  top:300px;
  left:90px;
}

#two{
  width:340px;
  height:320px;
  position: absolute;
  top:300px;
  left:610px;
}

#three{
  width:320px;
  height:320px;
  position: absolute;
  top:300px;
  left:1050px;
}

#reviewee{
  width:300px;
  height:100px;
  position: absolute;
  left:100px;
  top:800px;

}

#one_1{
  width:320px;
  height:320px;
  position: absolute;
  top:950px;
  left:90px;
}


#four{
  width:340px;
  height:320px;
  position: absolute;
  top:950px;
  left:610px;
}

#five{
  width:320px;
  height:320px;
  position: absolute;
  top:950px;
  left:1050px;
}

#bottom{
    width:1000px;
    margin:auto;
}


#review_table{
    float:left;
    width: 450px;

}

table#review_table td {
    height:35px;
    border-bottom: 1px solid #8E8A8A;
    padding: 5px;
    color: #696767;
}

#recent_tb_title{
    text-align:left;
    vertical-align: top;
    height:50px;
    color:#AC7A5C;
}

#offering_box{
    float:right;
}

table#offering_box td{
    text-align:center;
}

#offering_td{
    background-color:rgb(231,209,196,0.5);
    height:230px;
    width:500px;
}

#offering_table{
    margin:10px auto;
}

table#offering_table td{
    text-align:center;
    width:150px;
    height:210px;
}

#go_to_review{
  width : 150px;
  height : 50px;
  margin-top: 1400px;
  margin-left : 700px;
  background-color:#fab236;
  border : 0px;
  border-radius: 12px;
  outline : 0;
  text-decoration : none;
  box-shadow: 2px 2px #fff;
  font-family:'jua';
  font-size : 20px;
}
footer{  
  margin-top : 0px;
  left:0px; 
  bottom:0px; 
  height:130px; 
  width:100%; 
  background: rgb(238, 238, 238);   
  color:rgb(75, 75, 75); 
}
.footer_content{
  line-height : 25px;
  padding-left : 520px;
  padding-top : 13px;
}
