@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'GmarketSansMedium';
}

.menuBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logo{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 5px;
    margin-right: -70px;
}

.topMenu{
  left: 150px;
  top: 1px;
  margin: 26px 0px 26px 40px;
  height: 30px;
  width: 1000px;
}

.line{
  color: rgb(63, 60, 60);
}

#login_line{
  color: rgb(117, 115, 115);
}

.topMenu ul li{
  list-style: none;
  display: inline-block;
  background-color: rgb(255, 254, 254);
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

.topMenu .menuLink{
  text-decoration:none;
  color: rgb(63, 60, 60);
  width: 150px;
  display: inline-block;/*선택할 때 글씨뿐만 아니라*/
  font-size: 17px;
}

.topMenu .menuLink:hover{
  color: rgb(71, 33, 33);
  background-color: #E7D1C4;
}

a:visited {
  text-decoration: none;
  color: rgb(117, 115, 115);
}

.login{
  text-decoration: none;
  color: rgb(117, 115, 115);
  margin: -55px -20px 0px 15px;
  margin-left: 718px;
  font-size: 16px;
}

.login1{
  margin-right: 19px;
  text-decoration: none;
}

.login2{
  margin-left: 19px;
  text-decoration: none;
}

.menuBar_line{
  border: 0;
  background-color: #b7d1a6;
  height: 3px;
}

#main_scroll_1{
    margin-top:5px;
    margin-bottom: 0px;
    height:500px;
    width:100%;
    background-color:#b7d1a6;
    position: relative;
}

#BBB{
    width:350px;
    height:150px;
    position: absolute;
    left:150px;
    top:200px;
}

#BBB_Phone{
    width:400px;
    height:450px;
    position: absolute;
    left:600px;
    top:50px;
}

#bottom{
    width:1000px;
    margin:auto;
}


#review_table{
    float:left;
    width: 450px;

}

table#review_table td {
    height:35px;
    border-bottom: 1px solid #8E8A8A;
    padding: 5px;
    color: #696767;
}

#recent_tb_title{
    text-align:left;
    vertical-align: top;
    height:50px;
    color:#AC7A5C;
}

#offering_box{
    float:right;
}

table#offering_box td{
    text-align:center;
}

#offering_td{
    background-color:rgb(231,209,196,0.5);
    height:230px;
    width:500px;
}

#offering_table{
    margin:10px auto;
}

table#offering_table td{
    text-align:center;
    width:150px;
    height:210px;
}

button{
    background-color:white;
    border-radius: 30px;
    border: 3px solid #B7D1A6;
    color:#000000;
    cursor:pointer;
    padding:10px 25px;
    width: 150px;
    font-family:'GmarketSansMedium';
}

button:focus{
    outline:none;
    background-color: #e0e2df;
}



