<!DOCTYPE html>
<html>
<head>
<title>BBB 🏠</title>
    <link rel="stylesheet" href="../CSS/review/review_write.css">
    <script type="text/javascript" src="../review/review_list.js"></script>
    <script type="text/javascript" src="../review/review_write.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body class="body">

    <div class="menuBar">
        <a href="../main/main.html"><img id="logo" src="../image/logo.png" alt="BBB"></a>
        <div class="topMenu">
          <ul id="list">
            <li><a class="menuLink" href="../review/review_list.html">리뷰</a></li>
            <li class="line">|</li>
            <li><a class="menuLink" href="../offering/offering_list.html">매물</a></li>
            <li class="line">|</li>
            <li><a class="menuLink" href="../main/notice.html">공지사항</a></li>
          </ul>
        </div>
    </div>
    <table id="review_table">
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>LOCATION</th>
        <th>RATING</th>
      </tr>
      <% data.forEach(function(item, index) { %>
      <tr>
        <td><%= item.id %> </td>
        <td><%= item.title %> </td>
        <td><%= item.location %> </td>
        <td><%= item.rating %> </td>
      </tr>
      <% }); %>
    </table>
   </body>
   </html> 