@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration : none;
}
html {
    width: 1000px;
    margin : 0 auto;
    font-family: 'GmarketSansMedium';
}
.box1{
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
}
#logo{
    width: 100px;
    height: 50px;
    margin-top: 14px;
    margin-bottom:6px;
    padding :5px;
    margin-right : -70px;
}
.topMenu {    
    left : 150px;
    top : 1px;
    margin : 13px 0px 30px 40px;        
    height: 30px; 
    width: 1000px; 
}
.line{
    color: rgb(63, 60, 60); 
}
.topMenu ul li {                       
    list-style: none;           
    display: inline-block;
    line-height: 40px;    
    vertical-align: middle;     
    text-align: center;        
}
.topMenu .menuLink {                               
    text-decoration:none;   
    color: rgb(63, 60, 60);                             
    width: 150px;    
    display: inline-block;
    font-size: 17px;                           
}
.topMenu .menuLink:hover {            
    color: rgb(71, 33, 33);                   
    background-color: #E7D1C4;    
}
.login {                               
    text-decoration:none;   
    color: rgb(117, 115, 115);    
    margin: -56px -20px 0px 15px;
    margin-left : 718px;
    font-size: 16px;                         
}
.login1 {
    margin-right : 20px; 
    text-decoration:none;
}
.login1:visited {
    text-decoration-line:none;
    color: rgb(117, 115, 115);   
}
.login2{
    margin-left : 20px;
    text-decoration:none;
    color: rgb(117, 115, 115);   

}
.login1:visited {
    text-decoration-line:none;
    color: rgb(117, 115, 115);   
}
.col{
    display:inline-block;
    margin-top : 15px;
}
#room{
    width : 250px;
    height : 230px;
    margin : 40px 117px 10px 0px;
}
#room3{
    width : 250px;
    height : 230px;
    margin : 40px -20px 10px 0px;
}
#rank{
    width:25px;
    height:25px;
    padding : 5px;
}
.rank1{
    width : 300px;
    margin: 0px 50px 0px 26px;
}
.rank2{
    width : 300px;
    margin : -40px 50px 0px 400px;
}
.rank3{
    width : 300px;
    margin : -40px 30px 0px 780px;
}

.addr1{
    margin : 10px 100px 10px 15px; 
}
.addr2{
    margin : -36px 10px 10px 395px; 
}
.addr3{
    margin : -36px 0px 10px 767px; 
}
.review_button{
    background-color: #B7D1A6;    
    border : none;
    border-radius: 30px;
    border-width : 10px;
    border-color: #B7D1A6;
    color:white;
    cursor:pointer;
    padding:10px 25px;
    width: 65px;
    margin-left : 450px;
    font-family: 'GmarketSansMedium';
    position:fixed;
    left:auto;
    bottom:20px;
    box-shadow : 5px 5px 5px gray;
}
.review_list:link{
    color : white;
}
.review_list:visited{
    color : white;
}
.review_button:focus{
    outline:none;
    background-color: #B7D1A6;
}
.review_detail{
    display : inline;
}
.room_review{
    margin : 40px 0px;
}
.room_addr{
    margin : 10px 70px;
}
.detail_table{
    margin-top : 30px;
}
.room_title{
    margin-top:30px;
    font-size: 25px;
}
.content{
    padding: 0px 0px 15px 20px;
}
.content_detail{
    padding: 0px 0px 15px 20px;
    vertical-align : top;
}
.search_button{
    float:right;
    align-items: center;
    background-color: #C69674;
    border : none;
    color : white;
    margin-top : 6px;
    width :80px;
    height : 23px;
    outline : none;
}
.write_table{
    margin : 20px auto 10px auto;
}
.line1{
    margin-bottom : 5px;
}
.write_content{
    width : 850px;
    height : 600px;
    margin : 10px auto 20px auto;
    padding : 10px 20px;
    border-color : #C69674;
    border-style:solid;
    border-width :1.7px ;
}
.write_fileButton{
    align-items: center;
    background-color: #C69674;
    border : none;
    color : white;
    margin: 20px 0px 0 00px;
    width :100px;
    height : 30px;
    font-family: 'GmarketSansMedium';
}
.file_table{
    margin : 0px auto;
}

.register_button{
        background-color:#C69674;
        border-radius: 30px;
        border:none;
        color:white;
        cursor:pointer;
        padding:10px 25px;
        width: 110px;
        font-family: 'GmarketSansMedium';
        outline : none;
}
.write_registerBtn{
    text-align:center;
    margin : 10px 0px;
    font-family: 'GmarketSansMedium';
}
.detail_table{
    margin : 50px auto;
}
.detail_rank{
    width : 200px;
}
.detail_addr{
    font-size : 13px;
}
.detail_title{
    font-size : 30px;
}
.detail{
    width : 500px;
    margin : 0px auto 10px auto;
    line-height : 50px;
}
