@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'GmarketSansMedium';
}

body{
  /*width: 넣어야 하나?*/
    padding-top: 80px;
    margin: auto;
}

.menuBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    padding: 2px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #b7d1a6;
    margin-left: auto;
    margin-right: auto;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
}

#logo{
    width: 100px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    margin-left: 10%;
}

.topMenu{
  margin-top: 10px;
  margin-left: -30px;
  height: 60px;
  width: 90%;
}

.line{
  color: rgb(63, 60, 60);
}

#login_line{
  color: rgb(117, 115, 115);
}

.topMenu ul li{
  list-style: none;
  display: inline-block;
  background-color: rgb(255, 254, 254);
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

.topMenu .menuLink{
  text-decoration:none;
  color: rgb(63, 60, 60);
  width: 150px;
  display: inline-block;/*선택할 때 글씨뿐만 아니라*/
  font-size: 17px;
}

.topMenu .menuLink:hover{
  color: rgb(71, 33, 33);
  background-color: #E7D1C4;
}

a:visited {
  text-decoration: none;
  color: rgb(117, 115, 115);
}

.login{
  text-decoration: none;
  color: rgb(117, 115, 115);
  justify-content: space-between;
  align-items: center;
  margin: -55px -15px 0px 900px;
  font-size: 16px;
}

.login1{
  margin-right: 19px;
  text-decoration: none;
}

.login2{
  margin-left: 19px;
  text-decoration: none;
}
.col{
    display:inline-block;
    margin-top : 15px;
}
#room{
    width : 250px;
    height : 230px;
    margin : 40px 117px 10px 0px;
}
#room3{
    width : 250px;
    height : 230px;
    margin : 40px -20px 10px 0px;
}
#rank{
    width:25px;
    height:25px;
    padding : 5px;
    background: url('../image/rank.png')
}
.rank1{
    width : 300px;
    margin: 0px 50px 0px 26px;
}
.rank2{
    width : 300px;
    margin : -40px 50px 0px 400px;
}
.rank3{
    width : 300px;
    margin : -40px 30px 0px 780px;
}

.addr1{
    margin : 10px 100px 10px 15px; 
}
.addr2{
    margin : -36px 10px 10px 395px; 
}
.addr3{
    margin : -36px 0px 10px 767px; 
}
.review_button{
    background-color: #B7D1A6;    
    border : none;
    border-radius: 30px;
    border-width : 10px;
    border-color: #B7D1A6;
    color:white;
    cursor:pointer;
    padding:10px 25px;
    width: 65px;
    margin-left : 450px;
    font-family: 'GmarketSansMedium';
    position:fixed;
    left:auto;
    bottom:20px;
    box-shadow : 5px 5px 5px gray;
}
.review_list:link{
    color : white;
}
.review_list:visited{
    color : white;
}
.review_button:focus{
    outline:none;
    background-color: #B7D1A6;
}
.review_detail{
    display : inline;
}
.room_review{
    margin : 40px 0px;
}
.room_addr{
    margin : 10px 70px;
}
.detail_table{
    margin-top : 30px;
}
.room_title{
    margin-top:30px;
    font-size: 25px;
}
.content{
    padding: 0px 0px 15px 20px;
}
.content_detail{
    padding: 0px 0px 15px 20px;
    vertical-align : top;
}
.search_button{
    float:right;
    align-items: center;
    background-color: #C69674;
    border : none;
    color : white;
    margin-top : 6px;
    width :80px;
    height : 23px;
    outline : none;
}
.write_table{
    margin : 20px auto 10px auto;
}
.line1{
    margin-bottom : 5px;
}
.write_content{
    width : 850px;
    height : 600px;
    margin : 10px auto 20px auto;
    padding : 10px 20px;
    border-color : #C69674;
    border-style:solid;
    border-width :1.7px ;
}
.write_fileButton{
    align-items: center;
    background-color: #C69674;
    border : none;
    color : white;
    margin: 20px 0px 0 00px;
    width :100px;
    height : 30px;
    font-family: 'GmarketSansMedium';
}
.file_table{
    margin : 0px auto;
}

.register_button{
        background-color:#C69674;
        border-radius: 30px;
        border:none;
        color:white;
        cursor:pointer;
        padding:10px 25px;
        width: 110px;
        font-family: 'GmarketSansMedium';
        outline : none;
}
.write_registerBtn{
    text-align:center;
    margin : 10px 0px;
    font-family: 'GmarketSansMedium';
}
.detail_table{
    margin : 50px auto;
}
.detail_rank{
    width : 200px;
}
.detail_addr{
    font-size : 13px;
}
.detail_title{
    font-size : 30px;
}
.detail{
    width : 500px;
    margin : 0px auto 10px auto;
    line-height : 50px;
}
.wrap{
    max-width: 400px;
    margin: 0 auto; /* 화면 가운데로 */
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 10px;
    height: 10px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin : 0 1px;
    z-index: 10;
    width: 35px;
    height: 35px;
    background-image: url('../image/rank_blank.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
}
.rating .rate_radio:checked + label {
    background-image: url("../image/rank.png");
}
footer{  
    margin-top : 40px;
    left:0px; 
    bottom:0px; 
    height:130px; 
    width:100%; 
    background: rgb(238, 238, 238);   
    color:rgb(75, 75, 75); 
}
.footer_content{
    line-height : 25px;
    padding-left : 520px;
    padding-top : 13px;
}